<div class="main-content">
  <div class="container-fluid">
      <div class="card card-stats farmcrowdy">
        <div class="card-header card-header-success">
            <h4 class="card-title ">Farmcrowdy</h4>
        </div>
        <div class="fc-content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{this.data.fc.users}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Total number of users</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">language</i>
                            </div>
                            <p class="card-category">Country</p>
                            <h3 class="card-title">{{this.data.fc.country}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Countries covered</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">bakery_dining</i>
                            </div>
                            <p class="card-category">Products</p>
                            <h3 class="card-title">{{this.data.fc.product}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">All Web and Mobile apps</div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">agriculture</i>
                            </div>
                            <p class="card-category">AgricSquare</p>
                            <h3 class="card-title">{{this.data.fc.agricsquare}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Active Users</div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card farmcrowdy">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Farmcrowdy Trader</h4>
                </div>
                <div class="fc-content">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{this.data.trader.user}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Number of users</div>
                        </div>
                    </div>
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Farmers</p>
                            <h3 class="card-title">{{this.data.fc.farmers}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Number of Farmers</div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card farmcrowdy">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Farmcrowdy Foods</h4>
                </div>
                <div class="fc-content">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{this.data.foods.user}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">NUmber of users</div>
                        </div>
                    </div>
                    <!-- <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">payments</i>
                            </div>
                            <p class="card-category">Revenue</p>
                            <h3 class="card-title">{{this.data.foods.revenue}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Number of users</div>
                        </div>
                    </div> -->
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card farmcrowdy">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">Farmcrowdy Insurance</h4>
                </div>
                <div class="fc-content">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{this.data.insurance.user}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Insured persons</div>
                        </div>
                    </div>
                    <!-- <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">payments</i>
                            </div>
                            <p class="card-category">Premium</p>
                            <h3 class="card-title">{{this.data.insurance.premium}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Amount of premium sold</div>
                        </div>
                    </div> -->
                </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="card farmcrowdy">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">AgricSquare</h4>
                </div>
                <div class="fc-content">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">phone_android</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{this.data.fc.agricsquare}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">...</div>
                        </div>
                    </div>
                    <!-- <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">app_settings_alt</i>
                            </div>
                            <p class="card-category">Developing</p>
                            <h3 class="card-title">{{this.data.tech.revenue}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">Developing platform</div>
                        </div>
                    </div> -->
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
